.section-search input {
    padding: 5px !important;
    font-size: 18px;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}
#popular .card-title:hover {
    color:tomato;
    transition: 0.3s;
    font-size: 2em;
    cursor: pointer;

}
.section-follow .fa-4x {
    margin: 5px 10px;

}